In [1]:
import pandas as pd

In [2]:
# Load movie data
movie_cols = ['movie id', 'movie title', 'release date', 'video release date', 'IMDb URL', 'unknown', 'Action',
              'Adventure', 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
              'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

movie_content = pd.read_csv('ml-100k/u.item', sep='|', names=movie_cols, encoding='latin-1')
movie_content

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
# Load ratings data
cols = ['user_id', 'movie id', 'rating', 'timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=cols, encoding='latin-1')
ratings

       user_id  movie id  rating  timestamp
0          196       242       3  881250949
1          186       302       3  891717742
2           22       377       1  878887116
3          244        51       2  880606923
4          166       346       1  886397596
...        ...       ...     ...        ...
99995      880       476       3  880175444
99996      716       204       5  879795543
99997      276      1090       1  874795795
99998       13       225       2  882399156
99999       12       203       3  879959583

[100000 rows x 4 columns]

In [4]:
movie_popularity = ratings.groupby('movie id')['rating'].count().reset_index()
movie_popularity

      movie id  rating
0            1     452
1            2     131
2            3      90
3            4     209
4            5      86
...        ...     ...
1677      1678       1
1678      1679       1
1679      1680       1
1680      1681       1
1681      1682       1

[1682 rows x 2 columns]

In [5]:
movie_popularity.columns = ['movie id','popularity']
movie_popularity

      movie id  popularity
0            1         452
1            2         131
2            3          90
3            4         209
4            5          86
...        ...         ...
1677      1678           1
1678      1679           1
1679      1680           1
1680      1681           1
1681      1682           1

[1682 rows x 2 columns]

In [6]:
# Sort movies by popularity for each genre
genre_columns = ['Action', 'Adventure', 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama',
                 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
genre_columns

['Action',
 'Adventure',
 'Animation',
 "Children's",
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western']

In [12]:
genre_movies = movie_content[movie_content['Action'] == 1]
genre_movies

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,17,From Dusk Till Dawn (1996),05-Feb-1996,NaN,http://us.imdb.com/M/title-exact?From%20Dusk%2...,0,1,0,0,0,...,0,0,1,0,0,0,0,1,0,0
20,21,Muppet Treasure Island (1996),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Muppet%20Trea...,0,1,1,0,0,...,0,0,0,1,0,0,0,1,0,0
21,22,Braveheart (1995),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Braveheart%20...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614,1615,Warriors of Virtue (1997),02-May-1997,NaN,http://us.imdb.com/M/title-exact?Warriors%20of...,0,1,1,0,1,...,1,0,0,0,0,0,0,0,0,0
1617,1618,King of New York (1990),01-Jan-1990,NaN,http://us.imdb.com/Title?King+of+New+York+(1990),0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1645,1646,Men With Guns (1997),06-Mar-1998,NaN,http://us.imdb.com/Title?Men+with+Guns+(1997/I),0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1656,1657,Target (1995),28-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Target%20(1995),0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1672,1673,Mirage (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Mirage%20(1995),0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [13]:
genra_movies_df = pd.merge(genre_movies,movie_popularity)
genra_movies_df

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,popularity
0,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,1,0,0,131
1,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,209
2,17,From Dusk Till Dawn (1996),05-Feb-1996,NaN,http://us.imdb.com/M/title-exact?From%20Dusk%2...,0,1,0,0,0,...,0,1,0,0,0,0,1,0,0,92
3,21,Muppet Treasure Island (1996),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Muppet%20Trea...,0,1,1,0,0,...,0,0,1,0,0,0,1,0,0,84
4,22,Braveheart (1995),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Braveheart%20...,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,297
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,1615,Warriors of Virtue (1997),02-May-1997,NaN,http://us.imdb.com/M/title-exact?Warriors%20of...,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,10
247,1618,King of New York (1990),01-Jan-1990,NaN,http://us.imdb.com/Title?King+of+New+York+(1990),0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
248,1646,Men With Guns (1997),06-Mar-1998,NaN,http://us.imdb.com/Title?Men+with+Guns+(1997/I),0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2
249,1657,Target (1995),28-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Target%20(1995),0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
250,1673,Mirage (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Mirage%20(1995),0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [14]:
genre_movie_top_5 = genra_movies_df.sort_values(by='popularity',ascending=False).head(5)
genre_movie_top_5

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,popularity
11,50,Star Wars (1977),01-Jan-1977,NaN,http://us.imdb.com/M/title-exact?Star%20Wars%2...,0,1,1,0,0,...,0,0,0,0,1,1,0,1,0,583
41,181,Return of the Jedi (1983),14-Mar-1997,NaN,http://us.imdb.com/M/title-exact?Return%20of%2...,0,1,1,0,0,...,0,0,0,0,1,1,0,1,0,507
79,300,Air Force One (1997),01-Jan-1997,NaN,http://us.imdb.com/M/title-exact?Air+Force+One...,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,431
27,121,Independence Day (ID4) (1996),03-Jul-1996,NaN,http://us.imdb.com/M/title-exact?Independence%...,0,1,0,0,0,...,0,0,0,0,0,1,0,1,0,429
38,174,Raiders of the Lost Ark (1981),01-Jan-1981,NaN,http://us.imdb.com/M/title-exact?Raiders%20of%...,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,420

In [21]:
genre_movie_top_5=genre_movie_top_5[['movie title','popularity']]
genre_movie_top_5

                                 movie title  popularity
2                  Dances with Wolves (1990)         256
7  Butch Cassidy and the Sundance Kid (1969)         216
4                          Unforgiven (1992)         182
3     Good, The Bad and The Ugly, The (1966)         137
1                            Maverick (1994)         128

In [24]:
genre_recommendations = {}
for genre in genre_columns:
    # Filter movies in the current genre
    genre_movies = movie_content[movie_content[genre] == 1]
    
    # Merge with popularity data
    genre_movies = pd.merge(genre_movies, movie_popularity, on='movie id', how='left')
    
     # Sort by popularity and select the top 5
    genre_movie_top_5 = genre_movies.sort_values(by='popularity', ascending=False).head(5)
    
     # Store the recommendations for the current genre
    genre_recommendations[genre] = genre_movie_top_5[['movie title', 'popularity']]

    # Create a DataFrame to store the recommendations for each genre
    recommendations_df = pd.DataFrame()

for genre, recommendations in genre_recommendations.items():
    recommendations_df[genre] = recommendations['movie title'].values
    

popular_movies = recommendations_df.T
 
print("Top 5 movies of each genre are as follows:")
popular_movies

Top 5 movies of each genre are as follows:

,0,1,2,3,4
Action,Star Wars (1977),Return of the Jedi (1983),Air Force One (1997),Independence Day (ID4) (1996),Raiders of the Lost Ark (1981)
Adventure,Star Wars (1977),Return of the Jedi (1983),Raiders of the Lost Ark (1981),"Rock, The (1996)","Empire Strikes Back, The (1980)"
Animation,Toy Story (1995),"Lion King, The (1994)",Aladdin (1992),Beauty and the Beast (1991),Fantasia (1940)
Children's,Toy Story (1995),Willy Wonka and the Chocolate Factory (1971),E.T. the Extra-Terrestrial (1982),"Wizard of Oz, The (1939)","Lion King, The (1994)"
Comedy,Liar Liar (1997),Toy Story (1995),Back to the Future (1985),Willy Wonka and the Chocolate Factory (1971),"Princess Bride, The (1987)"
Crime,Fargo (1996),"Godfather, The (1972)",Pulp Fiction (1994),L.A. Confidential (1997),"Usual Suspects, The (1995)"
Documentary,Hoop Dreams (1994),Crumb (1994),"Celluloid Closet, The (1995)",Looking for Richard (1996),Koyaanisqatsi (1983)
Drama,Contact (1997),Fargo (1996),"English Patient, The (1996)","Godfather, The (1972)",Pulp Fiction (1994)
Fantasy,E.T. the Extra-Terrestrial (1982),"Nutty Professor, The (1996)",Dragonheart (1996),"Mask, The (1994)",Jumanji (1995)
Film-Noir,L.A. Confidential (1997),Blade Runner (1982),Chinatown (1974),"Maltese Falcon, The (1941)","Manchurian Candidate, The (1962)"
Horror,Scream (1996),Alien (1979),Jaws (1975),Psycho (1960),"Shining, The (1980)"
Musical,Evita (1996),"Blues Brothers, The (1980)","Wizard of Oz, The (1939)","Sound of Music, The (1965)","Lion King, The (1994)"
Mystery,Mission: Impossible (1996),L.A. Confidential (1997),Conspiracy Theory (1997),Amadeus (1984),2001: A Space Odyssey (1968)
Romance,Star Wars (1977),Return of the Jedi (1983),"English Patient, The (1996)",Jerry Maguire (1996),"Empire Strikes Back, The (1980)"
Sci-Fi,Star Wars (1977),Contact (1997),Return of the Jedi (1983),Independence Day (ID4) (1996),Twelve Monkeys (1995)
Thriller,Fargo (1996),Scream (1996),Air Force One (1997),"Silence of the Lambs, The (1991)","Rock, The (1996)"
War,Star Wars (1977),Return of the Jedi (1983),"English Patient, The (1996)",Independence Day (ID4) (1996),"Empire Strikes Back, The (1980)"
Western,Dances with Wolves (1990),Butch Cassidy and the Sundance Kid (1969),Unforgiven (1992),"Good, The Bad and The Ugly, The (1966)",Maverick (1994)